html, body {
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    font-weight: lighter;
    transition: all 0.2s ease;
}
@media(max-width: 1024px) {
    body {
        font-size: smaller;
    }
}
code, pre {
    font-family: 'JetBrains Mono', monospace;
    
}
pre {
    display: block;
    overflow: scroll;
    border-radius: 8px;
    padding: 16px;
    font-size: 14pt;
    color: whitesmoke;
    background-color: rgb(48,48,48);
    box-shadow: 0 0 8px 0px rgb(0 0 0 / 50%);
    
}
pre:hover {
    size: 101%;
}
body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0;
    padding: 0;
    align-items: flex-start;
     justify-content: space-evenly;
}

.nav-bar {
    width: 20vw;
    padding: 16px;
}

#main-panel {
    width: 64vw;
    padding: 16px;
}

#main-panel table {
    border: none;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 7px 0px rgb(0 0 0 / 25%);
}

#main-panel td {
    border: none;
    padding: 8px;
    line-height: 2;
    vertical-align: top;
}

#main-panel tr:nth-child(even) {
    background-color: #f0f0f0;
    border-radius: 4px;
}

button {
    color: white;
    background-color: black;
    border-radius: 4px;
    box-shadow: 0 0 7px 0px rgb(0 0 0 / 25%);
}
