html, body {
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: lighter;
    transition: all 0.2s ease;
}

@media(max-width: 1024px) {
    body {
        font-size: smaller;
    }
}
code, pre {
    font-family: 'JetBrains Mono', monospace;
    
}

pre {
    display: block;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    font-size: 12pt;
    color: rgb(28,28,28);
    background-color: whitesmoke;
    box-shadow: 0 0 8px 0px rgb(0 0 0 / 25%);
    
}

body {
    margin: 48px;
    padding: 48px;
}

button {
    padding: 4px;
    margin: 4px;
    color: white;
    background-color: black;
    border-radius: 4px;
    box-shadow: 0 0 7px 0px rgb(0 0 0 / 25%);
}
